# Starbucks - Capstone project

# Modelling

# 1) Loading required packages and reading in the files

In [1]:
import pandas as pd
import numpy as np
import math
import json
import os
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
plt.rcParams['figure.figsize'] = [15, 5]

In [3]:
# read in the csv files
clean_profile_expanded = pd.read_csv('treated_data/clean_profile_expanded.csv', sep=';', )
total_matched_offers = pd.read_csv('treated_data/total_matched_offers.csv', sep=';')

In [4]:
clean_profile_expanded.head()

,age,became_member_on,gender,id,income,date_bmo,year_bmo,month_bmo,day_bmo,tot_offers_received,tot_am_spent,tot_offers_succesful,offer_success_ratio,mean_resp_t,max_resp_t,min_resp_t,nbr_pur,tot_am_offers,pur_interval,score
0,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,2017-07-15,2017,7,15,1.0,77.01,1.0,1.000000,120.0,120.0,120.0,3.0,23.22,255.0,0.5
1,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,2017-05-09,2017,5,9,3.0,159.27,3.0,1.000000,80.0,132.0,6.0,7.0,63.33,67.0,1.0
2,68,20180426,M,e2127556f4f64592b11af22de27a7932,70000.0,2018-04-26,2018,4,26,3.0,57.73,2.0,0.666667,66.0,114.0,18.0,3.0,36.84,117.0,1.0
3,65,20180209,M,389bc3fa690240e798340f5a15918d5c,53000.0,2018-02-09,2018,2,9,6.0,36.43,5.0,0.833333,134.4,330.0,24.0,3.0,63.32,270.0,1.0
4,58,20171111,M,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,2017-11-11,2017,11,11,2.0,15.62,1.0,0.500000,120.0,120.0,120.0,4.0,7.14,118.0,0.5

# 2) Determining target variable and benchmark model

That has been a lot of trouble, but for a reason.

Now we have several features at our disposal in our clean_profile_expanded dataframe.

**GENERAL BENCHMARK:**
    
We will define the current success ratio rate as the following:

$SR = n_{offers sent}/n_{offers redeemed}$

The first benchmark for our model will be:

In [5]:
total_matched_offers['y'].sum()/total_matched_offers['y'].count()

0.6098381609368245

So, at this moment, the massive emailing campaign is getting a success probability of about 61%.

## 3) Customer segmentation

We could see above a glance of the different success rates the offers have on the customers.

We will now classify our users in highly succeptible to our offers, curious or not at all interested.